
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.container {
  margin-left: 1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@keyframes img {
  from {
    transform: rotate(0deg);
      }
  to {
    transform: rotate(360deg);
  }
}
#user {
  display:flex;
  padding-top: 3rem;
  padding-left: 3rem;
  justify-content: flex-start;
  font-size: larger;
}
#userinfo {
  padding-left: 3rem;
}
#pic img {
width: 20rem;
}
 ul, li {
  list-style: none;
  padding-left: 3rem;
  margin-top: 1rem;
}